@import url(http://fonts.googleapis.com/css?family=Inconsolata);
body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: #262E3D;
    color: #f0f0f0;
}

table {
    border-collapse: collapse;
}

a {
    color: inherit;
}

p,
ul {
    margin: 3px;
}

input {
    background-color: #45526e;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    width: auto;
    max-width: 150px;
}

textarea {
    font-family: 'Inconsolata', monospace;
    font-size: inherit;
}

button {
    background-color: #1C90F3;
    border: 0.1px solid #1C90F3;
    border-radius: 3px;
    color: inherit;
    font-size: inherit;
}

#inputTab {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 412px;
}

#inputTab li {
    background-color: #1C90F3;
    border: 0.1px solid #1C90F3;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-align: center;
    width: 100%;
}

#inputTable,
#inputTable td {
    border: 1px solid #1C90F3;
    border-spacing: 0;
    margin: 0;
    padding: 3px;
}

.tabcontent table,
.tabcontent th,
.tabcontent td {
    border: 1px solid #1C90F3;
    border-spacing: 0;
    padding: 3px;
}

select {
    background-color: #45526e;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
}

#hybridRatio {
    width: 3em;
}

#otherAncientsLower {
    width: 2.1em;
}

#anctable tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.number {
    text-align: right;
}

.bold {
    font-weight: bold;
}

#decodedData {
    background-color: inherit;
    border: 0.1px solid #1C90F3;
    color: inherit;
}

#tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tabs li {
    cursor: pointer;
    display: inline-block;
    border: 0.1px solid #1C90F3;
    border-radius: 10px 10px 0 0;
    text-align: center;
    width: 194px;
}

#tabs p {
    width: 300px;
    text-align: right;
}

#tabs li.current {
    background-color: #1C90F3;
}

.tabcontent {
    display: none;
}

.tabcontent.current {
    display: inherit;
}
